/** CSS for Login Box **/
body{
	font-family: Helvetica,Arial,sans-serif;
	margin: 0px 0px 0px 0px;
	font-size: 14px;
}

div.wrapper{
	background-image:url(../images/login/bg.gif); /* our wrapper bg image */
	background-repeat:no-repeat; /*we dont want this image to repeat ever! */
	width:500px; /*width of the image */
	height:384px; /* height of image */
	margin-left:4px; /* margin from left side of screen*/
	padding-top:75px; /* used to position rest of content below ribbon */
}

div.wrapper1{
	transform:translateY(-30%);/**上移元素**/
	transform:translateX(-38%);/**上移元素**/
	background-image:url(../images/login/bg.png); /* our wrapper bg image */
	background-repeat:no-repeat; /*we dont want this image to repeat ever! */
	width:500px; /*width of the image */
	height:384px; /* height of image */
	margin-left:1px; /* margin from left side of screen*/
	padding-top:57px; /* used to position rest of content below ribbon */
}


div.wrapper2{
	transform:translateY(+40%);/**上移元素**/
	/*transform:translateX(+38%);/**上移元素**/
	background-image:url(../images/login/bg.png); /* our wrapper bg image */
	background-repeat:no-repeat; /*we dont want this image to repeat ever! */
	width:500px; /*width of the image */
	height:384px; /* height of image */
	margin-left:1px; /* margin from left side of screen*/
	padding-top:57px; /* used to position rest of content below ribbon */
}


div.logo{
	background: url(../images/login/login2.png) no-repeat; /* combined background attribute */
	background-position: 50% 50%; background-repeat:no-repeat;
	width: 350px;
	height: 100px;
	right: auto;
}

div.logo1{
	background: url(../images/login/login3.png) no-repeat; /* combined background attribute */
	background-position: 50% 50%; background-repeat:no-repeat;
	width: 350px;
	height: 100px;
	right: auto;
}

div.logo2{
	background: url(../images/login/register2.png) no-repeat; /* combined background attribute */
	background-position: 50% 50%; background-repeat:no-repeat;
	width: 350px;
	height: 100px;
	right: auto;
}


/** Login Block **/
div.loginwrapper{
	background-position: 50% 50%; background-repeat:no-repeat;
	margin-left:40px;
	margin-top:100px
}
span.usertext{
	color: #0F0;
	font-weight:bold;
	width:200px;
	text-align:right
}

span.usertext1{
	color: #C3C;
	font-weight:bold;
	width:200px;
	text-align:right
}

span.usertext2{
	color: #0080FF;
	font-weight:bold;
	width:200px;
	text-align:right
}

input.textbox{
	background:url(../images/login/text_field.png) 0px -25px;
	width:264px;
	height:20px;
	border:0px;
	padding-top:5px;
	padding-left:4px;
}
input.textbox:hover{
	background:url(../images/login/text_field.png) 0px 0px;
	border:0px;
}

div.bottomwrapper{
	margin-left:40px;
	margin-top:50px;
}
/** Links CSS **/
a:link, a:visited{
	color:#ffffff;
	text-decoration:none;
}
a:hover{
	color:#95ddf9;
}

/** Button CSS **/
input.button{
	background:url(../images/login/login_btn.png) 0px 0px;
	width:92px;
	height:31px;
	border:0px;
	float:right;
	margin-right:20px;
	margin-top:5px;
	
}
input.button:hover{
	background:url(../images/login/login_btn.png) 0px -31px;
}
input.button:active{
	background:url(../images/login/login_btn.png) 0px -62px;
}

#main {
	position: absolute;
	width: 350px;
	height: 320px;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -180px
}
#mess {
	display: none;
}

#mess1 {
	display: none;
}

#mess2 {
	display: none;
}

#mess3 {
	display: none;
}